<h1>Let's make a Rat</h1>

<form method="post" action="/rats">
  <label for="rat[name]">Rat Name</label>
  <input type="text" name="rat[name]">
  <br>
  <label for="rat[size]">Rat Size</label>
  <input type="text" name="rat[size]">
  <br>
  <label for="rat[weight]">Rat Weight</label>
  <input type="number" name="rat[weight]">
  <br>
  <label for="rat[tail_length]">Rat Tail Length</label>
  <input type="number" name="rat[tail_length]">
  <br>
  <input type="submit" value="Create A New Rat">
</form>