<div class="card">
  <h3>
    <% if flash[:some_key] %>
      <%= flash[:some_key] %>
    <% end %>
  </h3>
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <p>
        <%= error %>
      </p>
    <% end %>
  <% end %>

  <%= render "form" %>
</div>