<h1>Let's make a Rat</h1>

<form method="post" action="/rats">
  <label for="rats[name]">Rat Name</label>
  <input type="text" name="rats[name]">
  <br>
  <label for="rats[size]">Rat Size</label>
  <input type="text" name="rats[size]">
  <br>
  <label for="rats[weight]">Rat Weight</label>
  <input type="number" name="rats[weight]">
  <br>
  <label for="rats[tail_length]">Rat Tail Length</label>
  <input type="number" name="rats[tail_length]">
  <br>
  <input type="submit" value="Create A New Rat">
</form>